<foo-ion-header [title]="'Ionic App'"></foo-ion-header>

<ion-content padding>
  <div class="p-20">
    The world is your oyster.
    <p>
      If you get lost, the
      <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/"
        >docs</a
      >
      will be your guide.
    </p>
    <h2>{{ 'hello' | translate }}</h2>
  </div>
</ion-content>
